@import "../../modules/defines.scss";

.CONTENT {}

.BODY {
    align-items: center;

    .explorer {
        width: 100%;
        max-width: 1200px;
        margin-bottom: 60px;
        justify-content: center;
        align-items: center;

        >.filtering {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 16px 0;
            margin-bottom: 20px;

            .searcher {
                width: 100%;
                max-width: 400px;
            }

            .extra {
                margin-left: 30px;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .fast_filter {
                    margin-right: 16px;
                }
            }
        }

        >.body {
            width: 100%;
            .Punkard {
                border: 1px solid rgba($color: $c_primary, $alpha: 1.0);
            }
        }
    }
}

@media screen and(max-width : 700px) {
    .explorer {
        .Punkard {
            flex-basis: 100% !important;
        }

        >.filtering {
            flex-direction: column !important;
            .searcher {}

            .extra {
                width: 100% !important;
                justify-content: space-between !important;
                margin-left: 0 !important;
                margin-top: 12px;
                padding: 0 6px;
                .fast_filter {}
            }
        }
    }
}